h2 {
    width: 200px;
    padding: 10px;
    background-color: #57ba98;
    color: #f2f2f2;
    transition: width 2s;
}
h2:hover {
    width: 300px;
}
video {
    width: 300px;
    height: 300px;
}
img {
    width: 200px;
    transition: width 4s;
}
img:hover {
    width: 300px;
}
nav {
    display: block;
    background-color: #57ba98;
    color: #f2f2f2;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav a {
    text-decoration: none;
    display: block;
}
nav li {
    display: inline-block;
    padding: 0.5em;
}
nav li:hover ul{
    display: block;
}
nav ul ul {
    position: absolute;
    padding: 0;
    text-align: left;
    background-color: #65ccb8;
    display: none;
}
nav ul ul li {
    display: block;
    border-bottom: 1px solid #f2f2f2;
    width: 8em;
    padding-left: 1em;
    margin-left: 0;
}
nav a:link {
    color: #f2f2f2;
}
nav a:visited {
    color: #cd853f;
}
nav a:hover {
    color: #ffe4b5;
}
#div1 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    color: black;
    text-align: center;
    font-size: 1em;
    border: 1px solid black;
    box-shadow: 5px 5px 5px red, 10px 10px 5px purple, 15px 15px 5px green;
    transition: background-color 2s, color 2s, border 2s, box-shadow 2s;
}
#div1:hover {
    background-color: green;
    color: white;
    border: 5px solid yellow;
    box-shadow: -5px -5px -5px red, -10px -10px -5px purple, -15px -15px -5px green;
}
#div2 {
    width: 100px;
    height: 100px;
    background-image: url(../Images/flower.jpg);
    background-size: 100%;
    transition: border-radius 2s;
}
#div2:hover {
    border-radius: 50px;
}
#div3 {
    width: 100px;
    height: 100px;
    background-image: url(../Images/basketball.png);
    background-size: 100%;
    position: relative;
    transition: margin-left 2s, margin-top 2s;
}
#div3:hover {
    margin-left: 200px;
    margin-top: 200px;
}
#div4 {
    width: 100px;
    height: 100px;
    background-image: url(../Images/pig.jpg);
    background-size: 100%;
    transition: transform 2s, width 2s, height 2s;
}
#div4:hover {
    transform: rotate(720deg);
    width: 200px;
    height: 200px;
}
#div5 {
    width: 100px;
    height: 100px;
    background-image: url(../Images/house.png);
    background-size: 100%;
    transition: transform 2s;
}
#div5:hover {
    transform: rotate(180deg);
}
#div6 {
    width: 100px;
    height: 100px;
    background-image: url(../Images/grizzly.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    transition: width 2s, height 2s, background-image 2s;
}
#div6:hover {
    width: 200px;
    height: 200px;
    background-image: url(../Images/ggcsmall.jpg);
    background-repeat: no-repeat;
}
#div7 {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
    to {opacity: 1;}
}
#div8 {
    width: 100px;
    height: 100px;
    background-image: url(../Images/pig.jpg);
    background-size: 100%;
    position: relative;
    animation: dash 1s infinite alternate;
}
@keyframes dash {
    from {left: 0px;}
    to {left: 200px}
}
#div9 {
    position: relative;
    animation: slideIn 3s infinite alternate;
}
@keyframes slideIn {
    from {
        left: -200px;
        opacity: 0;
    }
    to {
        left: 100px;
        opacity: 100;
        color: red;
        font-size: 2em;
        font-weight: bold;
    }
}
#div10 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: move 5s 1;
}
@keyframes move {
    0% {
        top: 0px;
        left: 0px; background-color: red;
    }
    25% {
        top: 0px;
        left: 100px; background-color: blue;
    }
    50% {
        top: 100px;
        left: 100px; background-color: yellow;
    }
    75% {
        top: 100px;
        left: 0px; background-color: green;
    }
    100% {
        top: 0px;
        left: 0px; background-color: red;
    }
}
#div11{
    width: 100px;
    height: 100px;
    background-image: url(../Images/basketball.png);
    background-size: 100%;
    border-radius: 50%;
    position: fixed;
    animation: bounce 2s 1;
}
@keyframes bounce {
    0% {
        top: 45%;
        left: 0%;
        transform: rotate(0deg);
    }
    25% {
        top: 0%;
        left: 45%;
        transform: rotate(90deg);
    }
    50% {
        top: 54%;
        left: 90%;
        transform: rotate(180deg);
    }
    75% {
        top: 90%;
        left: 45%;
        transform: rotate(270deg);
    }
    100% {
        top: 45%;
        left: 0%;
        transform: rotate(360deg);
    }
}
#div12 {
    width: 100px;
    height: 100px;
    background-image: url(../Images/pig.jpg);
    background-size: 100%;
    position: relative;
    animation: dash2 1s infinite;
}
@keyframes dash2 {
    0% {
        left: 0px;
        transform: scaleX(1);   
    }
    45% {
        left: 200px;
        transform: scaleX(1);   
    }
    50% {
        left: 200px;
        transform: scaleX(-1);   
    }
    95% {
        left: 0px;
        transform: scaleX(-1);
    }
    100% {
        left: 0px;
        transform: scaleX(1);
    }
}
#div13{
    width: 100px;
    height: 100px;
    background-image: url(../Images/stickMan.png);
    background-size: 100%;
    animation: kartwheel 2s infinite alternate;
    position: relative;
}
@keyframes kartwheel {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    12% {
        transform: rotate(45deg);
        left: 20px;
    }
    24% {
        transform: rotate(90deg);
        left: 40px;
    }
    36% {
        transform: rotate(135deg);
        left: 60px;
    }
    48% {
        transform: rotate(180deg);
        left: 80px;
    }
    60% {
        transform: rotate(225deg);
        left: 100px;
    }
    72% {
        transform: rotate(270deg);
        left: 120px;
    }
    84% {
        transform: rotate(315deg);
        left: 140px;
    }
    100% {
        transform: rotate(360deg);
        left: 160px;
    }
}