/*
#0A0A0A     Wasteland Black
#FF4E00     Zombie Ember
#3C3C3C     Ashen Gray
#5A2E0C     Decay Brown
#A0FF00     Toxic Glow
*/

body {
    text-align: center;
    background-image: url(Images/orangeCrackedBackground.jpg);
    border-style: solid;
    box-shadow: 2px 2px 5px #3C3C3C
}
header {
    text-align: center;
    background-color: #3C3C3C;
    margin: 0;
    height: 50px;
    color: #A0FF00;
    width: 80%;
    margin: 0 auto;
}
nav {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0A0A0A;
    height: 30px;
}
nav div {
    background-color: #0A0A0A;
    width: 25%;
    height: 88%;
    border-color: #FF4E00;
    border-width: 2px;
    border-style:solid;
    color: #FF4E00;
}
nav div:hover {
    background-color: #FF4E00;
    color: #0A0A0A;
}
nav a {
    display: block;
}
#mainDiv {
    width: 80%;
    background-color: #0A0A0A;
    margin: 0 auto;
}
h2 {
    color: #A0FF00;
    border-color: #3C3C3C;
    border-style: solid;
    border-bottom: none;
}
#indexList {
    border-color: #3C3C3C;
    border-style: solid;
    border-top: none;
    color: #FF4E00;
    text-align: center;
    margin: 0;
    padding: 40%;
    padding-top: 0;
    padding-bottom: 0;
}
dl {
    padding: 10px;
    color: #FF4E00;
    border-color: #3C3C3C;
    border-style: solid;
    border-top: none;
}
dt {
    color: #A0FF00;
}
ul {
    list-style-image: url(Images/raygun.png);
}
footer p {
    color: #A0FF00;
    background-color: #0A0A0A;
    width: 250px;
    margin: auto;
    margin-top: 5em;
}
#activities {
    background-color: #0A0A0A;
    padding: 10px;
    margin: 0 auto;
    width: 5%;
    border-color: #A0FF00;
    border-style: solid;

}