table {
    border: 5px solid black;
    margin: auto;
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#semester {
    color: white;
    text-align: center;
    background-color: #009900;
}
td {
    height: 30px;
    padding-left: 10px;
}
#credGrade {
    text-align: center;
}
#info {
    background-color: #003300;
    margin: 0;
    padding: 0;
    color: white;
}
h1 {
    text-align: center;
}
caption {
    font-size: large;
    font-weight: bold;
}
img {
    display: block;
    margin: auto;
}
#table2 {
    background-color: #003300;
    color: white;
    text-align: center;
    border: 0;
}