main {
  background: linear-gradient(to bottom, purple, orange);
  min-height: 100vh;
  margin: 0;
}
main img {
    display: block;
    margin: auto;
}
#witch {
    width: 300px;
}
h1 {
    text-align: center;
    font-size: 4em;
    color: orange;
}
h2 {
    font-size: 3em;
    text-align: center;
    color: white;
}
h3 {
    text-align: center;
    font-size: 2em;
    color: white;
}
#buttonContainer {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
}
#pumpkin {
    background-size: contain;
    background-image: url(../Images/pumpkins.png);
    height: 100px;
}