main {
  background: linear-gradient(to bottom, purple, orange);
  min-height: 100vh;
  margin: 0;
}
main img {
    display: block;
    margin: auto;
}
#witch {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    animation: dash 5s infinite;
}
@keyframes dash {
    0% {
        left: 0%;
        transform: scaleX(1);   
    }
    45% {
        left: 85%;
        transform: scaleX(1);   
    }
    50% {
        left: 90%;
        transform: scaleX(-1);   
    }
    95% {
        left: 5%;
        transform: scaleX(-1);
    }
    100% {
        left: 0%;
        transform: scaleX(1);
    }
}
#witchDiv {
    position: relative;
}
h1 {
    margin-top: 0;
    width: 700px;
    display: block;
    text-align: center;
    font-size: 4em;
    position: relative;
    animation: holloween 5s infinite alternate;
}
@keyframes holloween {
    0% {
        left: 0%;
        color: red; 
    }
    100% {
        left: 55%;
        color: yellow;
    }
}
h2 {
    font-size: 3em;
    text-align: center;
    color: white;
}
h3 {
    text-align: center;
    font-size: 2em;
    color: white;
}
#buttonContainer {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
}
#pumpkin {
    background-size: contain;
    background-image: url(../Images/pumpkins.png);
    height: 100px;
}
#kitkat {
    margin: auto;
    transition: transform 3s;
    background-image: url(../Images/candy.png);
    background-size: contain;
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
}
#kitkat:hover {
    transform: rotate(360deg);
}
#bouncekin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: auto;
  user-select: none;
  z-index: 1000;
}